* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan__primary: hsl(179, 62%, 43%);
  --bright-yellow__primary: hsl(71, 73%, 54%);
  --light-gray__neutral: hsl(204, 43%, 93%);
  --grayish-blue__neutral: hsl(218, 22%, 67%);
}

body {
  min-height: 100vh;
  font-family: Karla;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray__neutral);
}

.main__container {
  width: 37.5rem;
  display: grid;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-item-2 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid-item-3 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.main-article__container {
  background-color: white;
  padding: 2.1875rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.main-article__heading-1 {
  color: var(--cyan__primary);
  margin-bottom: 1.25rem;
}

.main-article__heading-2 {
  color: var(--bright-yellow__primary);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.main-article__article {
  color: gray;
  line-height: 1.5625rem;
}

.second-article__main-container {
  padding: 2.1875rem;
  background-color: var(--cyan__primary);
  border-bottom-left-radius: 0.625rem;
}

.second-article__heading {
  color: white;
  margin-bottom: 1.25rem;
}

.second-article__second-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.4375rem;
}

.second-article__text-1 {
  font-size: 1.75rem;
  color: white;
  margin-right: 0.625rem;
}

.second-article__text-2 {
  color: white;
  font-size: 0.875rem;
}

.second-article__text-3 {
  color: white;
  margin-bottom: 1.25rem;
}

.main--btn {
  height: 2.5rem;
  width: 100%;
  font-family: Karla;
  color: white;
  background-color: var(--bright-yellow__primary);
  border: none;
  border-radius: 0.3125rem;
  box-shadow: 0 0.1875rem 1.25rem -0.125rem gray;
}

.third-article__container {
  padding: 2.1875rem;
  background-color: rgb(32, 178, 170);
  border-bottom-right-radius: 0.625rem;
}

.third-article__heading {
  margin-bottom: 0.625rem;
  color: white;
}

.third-article__text {
  color: white;
}

@media only screen and (max-width: 31.25rem) {
  body {
    padding: 1.875rem;
  }
  .grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .grid-item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .grid-item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .second-article__main-container {
    border-bottom-left-radius: 0rem;
  }
  .third-article__container {
    border-bottom-left-radius: 0.625rem;
  }
}
